# Excluir carpetas de configuración del editor
.vscode/
.idea/
.vscode-insiders/

# Excluir archivos y carpetas temporales del sistema operativo
AppData/
NTUSER.DAT
NTUSER.DAT.LOG*
*.regtrans-ms
*.blf
Thumbs.db
desktop.ini

# Excluir carpetas de usuario específicas
Contacts/
Downloads/
Favorites/
Links/
Music/
OneDrive/
Saved Games/
Searches/
Videos/

# Excluir logs y archivos temporales
*.log
*.cache
*.tmp
*.bak

# Excluir archivos Python específicos
_pycache_/
*.py[cod]
*.sqlite3
usuarios.db

# Excluir dependencias instaladas en el entorno virtual
venv/
.env/
*.env

# Excluir otros archivos no deseados
.DS_Store