# Excluir configuraciones del editor
.vscode/
.vscode-insiders/

# Excluir archivos temporales y de caché
.streamlit/
*.log
*.cache
_pycache_/

# Excluir datos de usuario y otros directorios del sistema
AppData/
NTUSER.DAT
NTUSER.DAT.LOG*
ntuser.ini

# Excluir archivos JSON y bases de datos
*.json
usuarios.db

# Excluir carpetas y archivos temporales del sistema
Contacts/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
Music/
OneDrive/
Saved Games/
Searches/
Videos/