# Excluir configuraciones de Visual Studio Code
.vscode/
.vscode-insiders/

# Excluir configuraciones locales
.streamlit/
.gitconfig
.lesshst
AppData/
Contacts/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
Music/

# Excluir archivos del sistema
NTUSER.DAT
NTUSER.DAT*